.search-bar {
  width: 70vh;
  height: 6vh;
  margin: 2vh;
  padding: 2px 8px;
  font-size: 24px;
  border: 1px solid #333;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    transition: color 450ms ease;
  }
  &:focus::placeholder {
    color: #aaa;
  }
}

.submit-btn {
  height: 6vh;
  width: 6vh;
  font-size: 24px;
  border: 1px solid #333;
  border-radius: 10px;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    font-size: 25px;
  }

  &:active {
    height: 5.5vh;
    width: 5.5vh;
    font-size: 22px;
  }
}

.sb-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78vh;
}
